<!DOCTYPE html>
<html>

<head>

    <title>
        Resume AI
    </title>

    <link
        rel="stylesheet"
        href="/static/style.css"
    >

</head>

<body>

<div class="container landing">

    <h1>
        🤖 Resume AI
    </h1>

    <h2>
        AI Resume Screening &
        Job Recommendation System
    </h2>

    <p>
        Analyze skills, calculate ATS compatibility,
        discover suitable jobs and receive AI career guidance.
    </p>

    <br>

    <a
        class="button"
        href="/login"
    >
        Login
    </a>

    <a
        class="button secondary"
        href="/register"
    >
        Create Account
    </a>

</div>

</body>

</html>