<!DOCTYPE html>
<html>

<head>

    <title>Register - Resume AI</title>

    <link
        rel="stylesheet"
        href="/static/style.css"
    >

</head>

<body>

<div class="container auth">

    <div class="auth-box">

        <h1>🤖 Resume AI</h1>

        <h2>Create Account</h2>

        <p>
            Start your AI-powered career analysis.
        </p>


        {% with messages = get_flashed_messages() %}

            {% for message in messages %}

                <p class="message">
                    {{ message }}
                </p>

            {% endfor %}

        {% endwith %}


        <form method="POST">

            <input
                type="text"
                name="name"
                placeholder="Full Name"
                required
            >

            <input
                type="email"
                name="email"
                placeholder="Email Address"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Create Password"
                required
            >

            <input
                type="password"
                name="confirm_password"
                placeholder="Confirm Password"
                required
            >

            <button type="submit">
                Create Account
            </button>

        </form>


        <p>
            Already have an account?
            <a href="/login">
                Login
            </a>
        </p>

    </div>

</div>

</body>

</html>